/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
    font-weight: bold;
}

/*********************************/
.gamma-certified {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 200px;
}
.gamma-certified::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 230px 180px 0;
    border-color: transparent #ffffff transparent transparent;
    top: -140px;
    left: -30px;
    position: absolute;
}
.gamma-certified img {
    position: absolute;
    top: 15px;
    width: 70px;
    right: 20px;
}
/*********************************/

body {
	font-family: 'Lato', sans-serif;
}
header {
    position: fixed;
    background-color: rgba(21, 21, 21, 1);
    padding: 20px;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
header ul {
    display: flex;
    justify-content: space-around;
}
header ul li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
article,
.full-screen {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
section {
    height: 100vh;
}
.image-background {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.image-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image-layer {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(28, 35, 23, 0.7);
    top: 0;
}
.about .info-content {
    width: 980px;
    max-width: 80%;
    text-align: center;
}
.info-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    position: relative;
    z-index: 9;
    box-sizing: border-box;
}
.info-content h1 {
    font-size: 110px;
    margin-bottom: 0;
    color: #fcb823;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-shadow: -12px 9px 5px black;
}
.info-content p {
    font-size: 20px;
    line-height: 28px;
}


/* BENEFITS */
.benefits {
	position: relative;
    background-color: #272727;
}
.benefits h2{
    color: #fcb823;
    font-size: 86px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 18px;
}
.benefits h2::before {
    content: 'BENEFITS';
    position: absolute;
    left: -70px;
    top: -190px;
    color: #FFF;
    font-size: 260px;
    opacity: 0.05;
    letter-spacing: 60px;
    font-style: italic;
}
.benefits h2::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 4px;
    background-color: #fcb823;
    bottom: -40px;
    left: 0;
    border-radius: 5px;
}
.benefits-content p {
    font-size: 16px;
    line-height: 20px;
}
.contact h2 {
    color: #000;
    font-size: 86px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 18px;
}
.benefits-content,
.form-box {
    margin-top: 120px;
}
.benefits-content ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #FFF;
    font-size: 18px;
    box-sizing: border-box;
    line-height: 26px;
}
.benefits-content ul li {
    max-width: 300px;
    padding: 0 10px;
}

/* OUR TEAM*/
.our-team {
    height: auto;
    background-color: #000;
    position: relative;
}
.our-team ul {
    display: flex;
}
.our-team ul li {
    width: 20%;
    align-items: center;
}
.our-team ul li img {
    width: 100%;
    display: block
}
.our-team ul li:first-child {
    width: 40%;
}
.our-team ul li:first-child h2 {
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 11px;
    line-height: 60px;
}

/* CONTACT */
.form-box label {
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}
.form-box input {
    display: block;
    width: 100%;
    border: 0.5px solid darkgrey;
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
    box-sizing: border-box;
    letter-spacing: 2px;
}
.form-box p {
    margin-bottom: 20px;
}
.form-box .submit {
    background-color: #000;
    color: #FFF;
    border: 0;
    max-width: 200px;
    margin-left: auto;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.4s all;
}
.form-box .submit:hover {
	background-color: #FFF;
	color: #000;
	border: 1px solid #000;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    border-top: 1px solid;
    padding-bottom: 80px;
    line-height: 20px;
}


@media screen and ( max-width: 1200px ) {
    .about .info-content {
        text-align: left;
    }
    .info-content h1 {
        font-size: 70px;
    }
    .contact h2,
    .benefits h2 {
        font-size: 60px;
    }
    .our-team ul li:first-child,
    .our-team ul li {
        width: 25%;
    }
}


@media screen and ( max-width: 768px ) {
    .info-content {
        padding: 80px 20px;
    }
    .info-content h1 {
        font-size: 50px;
        line-height: 60px;
    }
    section.about {
        height: 100vh;
    }
    section {
        height: auto;
    }
    .contact h2,
    .benefits h2 {
        text-align: center;
    }
    .benefits h2::after {
        left: 0;
        right: 0;
        margin: auto;
    }
    .benefits h2::before {
        top: 0;
    }
    .benefits-content ul {
        flex-direction: column;
        align-content: center; 
    }
    .benefits-content ul li {
        padding: 0 10px;
        margin: 0 auto 40px auto;
    }
    .our-team ul {
        flex-wrap: wrap;
    }
    .our-team ul li:first-child {
        width: 100%;
        padding: 20px 0;
    }
    .our-team ul li:first-child h2 {
        font-size: 20px;
    }
    .our-team ul li {
        width: 33.33333%;
    }
}

@media screen and ( max-width: 480px ) {
    .image-background img {
        left: -30%;
    }
    .info-content h1 {
        font-size: 34px;
        line-height: 40px;
        text-shadow: -3px 4px 4px black;
    }
    header ul {
        justify-content: space-between;
    }
    header ul li a {
        font-size: 12px;
    }
    .contact h2,
    .benefits h2 {
        font-size: 30px;
    }
    .form-box {
        margin-top: 70px;
    }
    .form-box input {
        padding: 15px;
        font-size: 14px;
    }
    .form-box .submit {
        max-width: 100%;
    }
    .benefits-content p {
        font-size: 14px;
        line-height: 24px;
    }
}